[submodule "cs147-kyuri"]
	path = cs147-kyuri
	url = https://github.com/curlymess/cs147-kyuri
[submodule "a4-spotify2"]
	path = a4-spotify2
	url = https://github.com/curlymess/a4-spotify2
[submodule "cs47-a2-starter"]
	path = cs47-a2-starter
	url = https://github.com/curlymess/cs47-a2-starter
[submodule "assignment-3-spotify"]
	path = assignment-3-spotify
	url = https://github.com/curlymess/assignment-3-spotify-starter
